/* Thêm CSS cho responsive */
@media screen and (max-width: 768px) {
    .align-center {
      
      text-align: center;
    }
  
    .cate-datatable {
   
      width: 100%;
      overflow-x: auto;
      font-size: 14px; 
    }
  
   
  }
  
  /* Định dạng cho iPad */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
   
    .cate-datatable {
      font-size: 16px; /* Điều chỉnh kích thước chữ cho iPad */
    }
  
   
  }